.dark-bg {
  background-color: #005daf; /* For browsers that do not support gradients */
  background-size: cover;
  background: linear-gradient(270deg,#1e90ff, #3d85c6, #2c7bb6, #0078d4, #4682b4, #357ebd);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}


#003366, #005a8c, #003f65, #00294d, #004080, #001a33

#0077be
#ff6f61
#8b5d2e
#77ab59
#ff4500
#6a0572

.typewriter h1 {
  text-align: center;
  margin-left: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */ /* Keeps the content on a single line */ /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  white-space: nowrap;
  animation:
    typing 5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.css-selector {
  background: linear-gradient(270deg, #053864, #005daf, #df598a, #f55d72);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
