@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #005daf; /* For browsers that do not support gradients */
  background-size: cover;
  background: linear-gradient(270deg, #053864, #005daf, #f55d72, #df598a);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 37% 50%;
  }
  50% {
    background-position: 64% 50%;
  }
  100% {
    background-position: 37% 50%;
  }
}
